@import '../../styles/mixins.scss';

.adverts-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
  align-items: center;
  padding-bottom: 50px;
  &__card{
    max-height: 375px;
  }
  &__card-image{
    max-height: 178px;
    object-fit: cover; 
  }
}

